html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1;font-family:'Microsoft Yahei', Verdana, Simsun, 'Segoe UI', 'Segoe UI Web Regular', 'Segoe UI Symbol', 'Helvetica Neue', 'BBAlpha Sans', 'S60 Sans', Arial, sans-serif;}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
table{border-collapse:collapse;border-spacing:0}
.thin{font-family:'Segoe UI Light', 'Microsoft Yahei', Verdana, Simsun, 'Segoe UI', 'Segoe UI Web Regular', 'Segoe UI Symbol', 'Helvetica Neue', 'BBAlpha Sans', 'S60 Sans', Arial, sans-serif}
.clear{width:0;height:0;clear:both}

#container {
    width: 864px;
    margin: 0 auto;
    border: 6px solid #D6181F;
    border-left-width: 0;
    background: url('../images/leftbg.jpg') left repeat-y;
    padding-left: 90px;
    position: relative;
}

#header {
    position: relative;
    height: 90px;
    border-bottom: 2px solid #D6181F;
}

#header .logo {
    width: 290px;
    height: 90px;
    display: block;
    background: url('../images/logo.jpg') center no-repeat;
}

#header .logo2 {
    width: 88px;
    height: 88px;
    display: block;
    position: absolute;
    right: 10px; top: 1px;
    background: url('../images/logo2.png') center no-repeat;
}

#header_ad {
    position: absolute;
    width: 420px; height: 60px;
    right: 120px; top: 10px;
    overflow: hidden;
}

#footer {
    width: 960px;
    margin: 0 auto;
}
#footer p {
    color: #999;
    font-size: 12px;
    line-height: 40px;
    text-align: right;
}
#footer .ad { width: 960px; height: 340px; display: block; }
#footer .ad.bottom-ad-1 { background: url('../images/bottom-ad-1.jpg') center no-repeat; }
#footer .ad.bottom-ad-2 { background: url('../images/bottom-ad-2.jpg') center no-repeat; }
#footer .ad.bottom-ad-3 { background: url('../images/bottom-ad-3.jpg') center no-repeat; }
#footer .ad.bottom-ad-4 { background: url('../images/bottom-ad-4.jpg') center no-repeat; }
#footer .ad.bottom-ad-5 { background: url('../images/bottom-ad-5.jpg') center no-repeat; }

#left_nav {
    width: 90px;
    position: absolute;
    left: 0; top: 0;
    color: #FFF; text-align: center;
    font-size: 14px;
    background: url('../images/leftfire.jpg') no-repeat;
}

#left_nav p.title {
    height: 70px;
    line-height: 45px;
    font-weight: bold;
    font-size: 16px;
    background: url('../images/leftarrow.jpg') no-repeat;
    margin-top: 92px;
    margin-bottom: 20px;
}

#left_nav ul { list-style: none; }
#left_nav ul li a { color: #FFF; line-height: 30px; text-decoration: none; border-bottom: 1px dotted #AAA; }

#right_nav {
    width: 200px;
    position: absolute;
    right: 10px; top: 105px;
    color: #555;
    font-size: 12px;
    background: #F5F5F5;
    border: 1px solid #DDD;
    padding: 10px 0;
}
#right_nav p.title { color: #333; line-height: 30px; margin-left: 10px; font-size: 14px; }
#right_nav ul { margin-left: 30px; }
#right_nav ul li a { color: #555; line-height: 20px; }

#content .canvas {
    width: 600px;
    height: 860px;
    background: #EEE;
    position: relative;
}

#content .canvas .hot {
    display: block;
    position: absolute;
}

#content .canvas .hot:hover {
    border: 4px dotted #D6181F;
}

#navigation {
    font-size: 12px;
    position: absolute;
    top: 100px; left: 680px;
    width: 35px;
    list-style: none;
}

#navigation li a {
    display: block;
}

#navigation .button1 a {
    width: 35px; height: 75px;
    background: url('../images/lastday.png') center no-repeat;
}
#navigation .button2 a {
    width: 35px; height: 60px;
    background: url('../images/nextday.png') center no-repeat;
}
#navigation .button3 a {
    width: 35px; height: 60px;
    background: url('../images/previous.png') center no-repeat;
}
#navigation .button4 a {
    width: 35px; height: 75px;
    background: url('../images/next.png') center no-repeat;
}
#content.detail h1 {
    text-align: center;
    font-size: 24px;
    line-height: 30px;
}

#content.detail h2 {
    text-align: center;
    font-size: 16px;
    line-height: 28px;
}

#content.detail {
    width: 600px;
    padding: 20px;
}

#content p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 14px;

}

#content p.subtitle {
    text-align: center;
    color: #999;
}

#side_ad {
    position: absolute;
    bottom: 10px; right: 10px;
    width: 200px;
    list-style: none;
}

#side_ad li {
    margin: 10px 0;
}
#side_ad li a { display: block; }
#side_ad li a.side-ad-1 {
    width: 200px; height: 134px;
    background: url('../images/side-ad-1.jpg') center no-repeat;
}
#side_ad li a.side-ad-2 {
    width: 200px; height: 124px;
    background: url('../images/side-ad-2.jpg') center no-repeat;
}
#side_ad li a.side-ad-3 {
    width: 200px; height: 95px;
    background: url('../images/side-ad-3.jpg') center no-repeat;
}

/**/
#page01 #hot01 {
    width: 280px; height: 200px;
    left: 16px; top: 168px;
}
#page01 #hot02 {
    width: 288px; height: 160px;
    left: 300px; top: 8px;
}
#page01 #hot03 {
    width: 288px; height: 130px;
    left: 300px; top: 170px;
}
#page01 #hot04 {
    width: 180px; height: 125px;
    left: 16px; top: 375px;
}
#page01 #hot05 {
    width: 180px; height: 135px;
    left: 16px; top: 505px;
}
#page01 #hot06 {
    width: 295px; height: 265px;
    left: 200px; top: 375px;
}
#page01 #hot07 {
    width: 570px; height: 190px;
    left: 16px; top: 650px;
}

#content #page01.canvas {
    background: url('../images/966-1.jpg') no-repeat;
}

#content #page02.canvas {
    background: url('../images/966-2.jpg') no-repeat;
}
